.main{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  display: flex;
  width: 60vw;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.bookmarks{
  height: 40px;
  width:100px;
}
.search-container{
  width:60vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
input{
  height: 50px;
  width: 50vw;
  border-radius: 25px;
}
.search{
  width: 9vw;
  height: 60px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.img-container{
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;
}
.image{
  width: 19vw;
  height: 19vw;
}
.bookmark{
 position: absolute;
 margin-top: -40vh;
}
.bookmark:hover{
  width:60px;
}
.image:hover{
width: 20vw;
height: 20vw;
}

